<div id="content">
<h1>Customer List</h1>

<table class="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Direct number</th>
      <th>Email</th>
      <th>Company id</td>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <%= render customer %>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Customer', new_customer_path %>
