<div id="page-wrapper">

	<!-- Page Header -->
	<div class="row">
		<div class="col-lg-12">
			<h1>Maintenance</h1>
			<ol class="breadcrumb">
				<li class="active"><i class="fa fa-wrench"></i> Maintenance</li>
			</ol>
			<!-- alerts here -->
		</div><!-- /.col -->
	</div><!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<ul>
				<li><a href="http://localhost:3000/users/">User</a></li>
				<li><a href="http://localhost:3000/companies/">Company</a></li>
			</ul>
		</div><!-- /.col -->
	</div><!-- /.row -->
  
</div><!-- /#page-wrapper -->