<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-10">
			<h1>Editing Company</h1>
			<ol class="breadcrumb">
				<li><a href='<%= companies_path %>'><i class="fa fa-tasks"></i> Companies</a></li>
				<li><a href='<%= company_path(@company) %>'><i class="fa fa-list-alt"></i> Company Detail</a></li>
				<li class="active"><i class="fa fa-edit"></i> Editing Company</li>
			</ol>
		
	<%= render 'form' %>

		</div>
	</div>
</div>
