// Base Style Sheet

#content {
	width: 85%;
	background-color: #fff;
	margin: 0px;
	padding: 6px 10px 10px 10px; 
	z-index: 10;
	
	h1, h2, h3, h4 {
		color: #555;
	}

	#company_detail {
		width: 40%;
		float: left;
	}

	#location {
		overflow: hidden;
		padding: 0;
		margin:	0;
	}

	.list { 
		border: 1px solid #e4e4e4;
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 4px;

			th {
				background-color:#EEEEEE;
				padding: 4px;
				white-space:nowrap;
				height: 35px;
			}

			tr {
			    height: 30px;
			}

			td {
				text-align: center;
				vertical-align: top;
				padding-right: 10px;
			}
		
		tr:hover {
			background-color: #ffffdd;
		}

		tr.group:hover {
		  background-color: inherit;
		}

		.odd {
			background-color:#f6f7f8;
		}

		.even {
			background-color: #fff;
		}
	}
}
